.navbar {
  .navbar_paragraf { 
    color: #ffffffff;
    background: #000000;
    text-align: center;
    padding: 0.5rem;
  }

  .navbar_tittle {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    padding: 0.2rem;
  }

  .navbar_info {
    width: 100%;
    min-height: 25rem;
    max-height: 25rem;
    background: rgba(0, 0, 0, 0.65) url('../../assets/img/wallpaper.jpeg') no-repeat center;
    background-blend-mode: darken;
    margin: 0 auto;
    color: #fff;
    background-size: cover;
  }

  .navbar_info_site {
    color: #fff;
    max-width: 70rem;
    max-height: 20rem;
    margin: auto;
    padding-top: 7rem;
    padding-left: 1rem;

    h1 {
      font-size: 21px;
      font-weight: bold;
      margin: 0.5rem 0 0.5rem 0;
    }
  }
}